In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('coefficients.csv')

In [3]:
for variable in df.groupby('variable')['variable'].agg('count').index.values:
    print variable

Age
Avg_Daily_Hours
Avg_Weekly_Hours
BusinessTravelTravel_Frequently
BusinessTravelTravel_Rarely
Days_off
DepartmentResearch...Development
DepartmentSales
DistanceFromHome
Education
EducationFieldLife.Sciences
EducationFieldMarketing
EducationFieldMedical
EducationFieldOther
EducationFieldTechnical.Degree
EnvironmentSatisfaction
GenderMale
JobInvolvement
JobLevel
JobRoleHuman.Resources
JobRoleLaboratory.Technician
JobRoleManager
JobRoleManufacturing.Director
JobRoleResearch.Director
JobRoleResearch.Scientist
JobRoleSales.Executive
JobRoleSales.Representative
JobSatisfaction
MaritalStatusMarried
MaritalStatusSingle
MonthlyIncome
NumCompaniesWorked
PercentSalaryHike
PerformanceRating
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
X.Intercept.
X.Intercept..1
YearsAtCompany
YearsSinceLastPromotion
YearsWithCurrManager

In [4]:
meanLASSO = pd.DataFrame(df.groupby('variable')['X1'].agg(['mean', 'std'])).reset_index()
meanLASSO['abs mean'] = meanLASSO['mean'].abs()

In [5]:
meanLASSO.sort_values(by = 'abs mean', ascending = False)

                            variable      mean       std  abs mean
38                      X.Intercept. -1.724918  1.092267  1.724918
29               MaritalStatusSingle  0.787746  0.023975  0.787746
3    BusinessTravelTravel_Frequently  0.423470  0.009543  0.423470
1                    Avg_Daily_Hours  0.340814  0.003897  0.340814
22     JobRoleManufacturing.Director -0.217987  0.014680  0.217987
15           EnvironmentSatisfaction -0.180467  0.009104  0.180467
37                   WorkLifeBalance -0.162725  0.008705  0.162725
27                   JobSatisfaction -0.138447  0.005206  0.138447
42              YearsWithCurrManager -0.117642  0.009968  0.117642
23          JobRoleResearch.Director  0.107657  0.028926  0.107657
21                    JobRoleManager -0.086092  0.023218  0.086092
2                   Avg_Weekly_Hours  0.068008  0.013893  0.068008
35                 TotalWorkingYears -0.066814  0.004866  0.066814
40                    YearsAtCompany -0.054873  0.015058  0.054873
36             TrainingTimesLastYear -0.048201  0.003149  0.048201
0                                Age -0.043687  0.005883  0.043687
14    EducationFieldTechnical.Degree -0.011195  0.016423  0.011195
16                        GenderMale  0.010169  0.012032  0.010169
5                           Days_off -0.006470  0.003245  0.006470
7                    DepartmentSales -0.006346  0.011872  0.006346
31                NumCompaniesWorked  0.004456  0.014131  0.004456
32                 PercentSalaryHike  0.003544  0.002778  0.003544
33                 PerformanceRating  0.000826  0.003444  0.000826
41           YearsSinceLastPromotion -0.000585  0.004879  0.000585
4        BusinessTravelTravel_Rarely  0.000000  0.000000  0.000000
34                  StockOptionLevel  0.000000  0.000000  0.000000
39                    X.Intercept..1  0.000000  0.000000  0.000000
30                     MonthlyIncome  0.000000  0.000000  0.000000
11           EducationFieldMarketing  0.000000  0.000000  0.000000
28              MaritalStatusMarried  0.000000  0.000000  0.000000
12             EducationFieldMedical  0.000000  0.000000  0.000000
26       JobRoleSales.Representative  0.000000  0.000000  0.000000
25            JobRoleSales.Executive  0.000000  0.000000  0.000000
24         JobRoleResearch.Scientist  0.000000  0.000000  0.000000
8                   DistanceFromHome  0.000000  0.000000  0.000000
9                          Education  0.000000  0.000000  0.000000
20      JobRoleLaboratory.Technician  0.000000  0.000000  0.000000
19            JobRoleHuman.Resources  0.000000  0.000000  0.000000
18                          JobLevel  0.000000  0.000000  0.000000
17                    JobInvolvement  0.000000  0.000000  0.000000
10       EducationFieldLife.Sciences  0.000000  0.000000  0.000000
13               EducationFieldOther  0.000000  0.000000  0.000000
6   DepartmentResearch...Development  0.000000  0.000000  0.000000

In [6]:
df[df['variable']=='MonthlyIncome']

           variable   X1
53    MonthlyIncome  0.0
175   MonthlyIncome  0.0
307   MonthlyIncome  0.0
427   MonthlyIncome  0.0
527   MonthlyIncome  0.0
639   MonthlyIncome  0.0
791   MonthlyIncome  0.0
875   MonthlyIncome  0.0
962   MonthlyIncome  0.0
1143  MonthlyIncome  0.0
1226  MonthlyIncome  0.0
1230  MonthlyIncome  0.0
1234  MonthlyIncome  0.0
1238  MonthlyIncome  0.0
1242  MonthlyIncome  0.0
1246  MonthlyIncome  0.0
1250  MonthlyIncome  0.0
1254  MonthlyIncome  0.0
1258  MonthlyIncome  0.0
1262  MonthlyIncome  0.0
1266  MonthlyIncome  0.0
1270  MonthlyIncome  0.0
1274  MonthlyIncome  0.0
1278  MonthlyIncome  0.0
1282  MonthlyIncome  0.0
1286  MonthlyIncome  0.0